@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
.btn-small { 
    padding: 0 8px;
}
td {
    width: 20%;
    padding: 10px 0;
    width: 15%;
}
.card-panel {
    margin: 0;
    margin-top: 2%;
}
h2 {
    margin: 1.373333rem 0 1.424rem 0;
    margin-top: 0;
}
h4 {
    margin: 1rem 0 .912rem 0;
}
h5 {
    margin: 0.093333rem 0 .656rem 0;
}
th {
    vertical-align: unset;
}
.modal {
    overflow-y: inherit;
    max-height: 80%;
}
.studentListing {
    margin-top: 5%;
}
.studentTable {
    margin-bottom: 5%;
}
.avgGrade {
    padding: 5px;
}
.sticky{
    position: sticky;
    top: 0;
}
.displayNone{
    display: none;
}
.addCard{
    margin-bottom: 0;
}
.addHeader{
    margin-bottom:0;
}
.titleCard{
    margin-bottom: 5%;
}
.addTitle{
    margin-top: 2%;
    margin-bottom: 2%;
}
.addHeader button{
    margin-bottom: 5%;
}
.input-field{
    margin-top: 0;
    margin-bottom: 0;
}
.updateModal{
    overflow-y: auto;
}
.tableLabel {
    cursor: pointer;
    margin: auto;
}
.tableLabel:hover {
    text-shadow: 1px 1px 3px black;
}
.sortIcon{
    vertical-align: middle;
}
.preloader-wrapper{
    width: 30%;
    margin: auto;
}
/* Form Color Changes */
/* label color */
  .input-field label.active {
    color: #2196f3;
  }
  input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: #2196f3;
  }
  input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid#2196f3;
    box-shadow: 0 1px 0 0 #2196f3;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 1px 0 0 #2196f3;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #00e676;
    box-shadow: 0 1px 0 0 #00e676;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #c62828;
    box-shadow: 0 1px 0 0 #c62828;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #2196f3;
  }

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 500px){
    
}